@page "/"

<PageTitle>Strona</PageTitle>

<h1>Wybierz Stronę:</h1>

<a href="https://bobeer2406.github.io/kuchnia" target="_blank" class="btn">
    Kuchnia
</a>

<a href="https://bobeer2406.github.io/raportonline" target="_blank" class="btn">
    Raport
</a>

<style>
    .btn {
        display: inline-block;
        margin: 10px;
        padding: 20px 40px;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: #007bff;
        border-radius: 12px;
        text-align: center;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style>
